<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PARSE_CLIENT_KEY</key>
	<string> NTYdlIaWz6564dUWPMZ2oprIjASkt6LGm6pCUHJv </string>
	<key>PARSE_APPLICATION_ID</key>
	<string> O9DkEtufcwqSuyJq0irfxCGMHOzrkkh5K2oS76gE </string>
</dict>
</plist>
